 .u-section-1 {
  background-image: url("images/fondo1.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 832px;
}

.u-section-1 .u-group-1 {
  width: 701px;
  min-height: 391px;
  height: auto;
  margin: 193px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: none;
  font-weight: 400;
  font-style: italic;
  text-shadow: 14px 26px 40px rgba(51,51,51,1);
  margin: 62px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 14px 14px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-group-1 {
    min-height: 545px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 21px;
    margin-right: 21px;
  }
} .u-section-2 {
  background-image: linear-gradient(#13508b, #36076f);
}

.u-section-2 .u-sheet-1 {
  min-height: 753px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-style: italic;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: -36px 239px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 46px 0 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 11px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 375px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/WhatsAppImage2023-10-11at20.32.18.jpeg");
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/WhatsAppImage2023-10-11at20.33.14.jpeg");
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/WhatsAppImage2023-10-11at20.36.29.jpeg");
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/WhatsAppImage2023-10-11at20.41.23.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 11px 39px 0 902px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: -28px 327px 0 614px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: -28px 621px 0 320px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: -28px 895px 0 46px;
}

.u-section-2 .u-list-2 {
  margin-top: 11px;
  margin-bottom: 46px;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 80px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-style: italic;
  margin: 0 25px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-style: italic;
  margin: 0 25px;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-style: italic;
  margin: 0 25px;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-style: italic;
  margin: 0 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -27px;
    margin-right: 39px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 63px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -15px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 307px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 741px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 227px;
    margin-left: 514px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 521px;
    margin-left: 220px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 741px;
    margin-left: 0;
  }

  .u-section-2 .u-list-2 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 25px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 968px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 521px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 117px;
    margin-left: 404px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 411px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 521px;
  }

  .u-section-2 .u-list-2 {
    margin-bottom: 46px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 49px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: -28px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    margin-left: 341px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 27px;
    margin-left: 314px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 321px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 341px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 125px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -114px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 141px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 141px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 141px;
  }
} .u-section-3 {
  background-image: linear-gradient(#36076f, #310f9f);
}

.u-section-3 .u-sheet-1 {
  min-height: 1376px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  width: 834px;
  margin: -18px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 131px -50px 0 487px;
}

.u-section-3 .u-text-3 {
  font-weight: 600;
  font-size: 1.5rem;
  width: 551px;
  margin: 107px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 640px;
  margin-top: 54px;
  margin-bottom: 38px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  left: -50px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-back-image-2 {
  left: -50px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-image-3 {
  left: -50px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-image-4 {
  left: -50px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-image-5 {
  left: -50px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 42px;
  height: 42px;
  padding: 0;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: auto;
  right: 10px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 187px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(#310f9f, #310f9f);
}

.u-section-4 .u-sheet-1 {
  min-height: 807px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 31px 570px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 51px 26px 0 399px;
}

.u-section-4 .u-list-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 6px 6px;
  grid-auto-columns: calc(33.3333% - 4px);
  grid-template-columns: calc(33.3333% - 4px) calc(33.3333% - 4px) calc(33.3333% - 4px);
  min-height: 146px;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  margin: 18px auto 0;
  padding: 25px 92px 25px 90px;
}

.u-section-4 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  margin: 18px auto 0;
  padding: 25px 92px 25px 90px;
}

.u-section-4 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-4 .u-btn-3 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  margin: 18px auto 0;
  padding: 25px 92px 25px 90px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 4px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 4px));
    min-height: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 3px);
    grid-template-columns: repeat(2, calc(50% - 3px));
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 170px;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1250px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 285px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px 30px 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-1 {
  width: 558px;
  height: 312px;
  margin: 76px auto 0;
}

.u-section-5 .u-image-2 {
  min-height: 337px;
  background-image: url("images/CartelS4.png");
  background-position: 50% 35.29%;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 476px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 15px 0;
}

.u-section-5 .u-text-3 {
  margin: 0 0 0 15px;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 263px;
  }

  .u-section-5 .u-image-2 {
    min-height: 391px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 210px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1918px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 666px;
  }

  .u-section-5 .u-image-2 {
    min-height: 344px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1620px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-5 .u-image-2 {
    min-height: 275px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1290px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 190px;
  }

  .u-section-5 .u-image-2 {
    min-height: 192px;
  }
} .u-section-6 {
  background-image: linear-gradient(#310f9f, #36076f);
}

.u-section-6 .u-sheet-1 {
  min-height: 807px;
  width: 141px;
  height: 91px;
}

.u-section-6 .u-text-1 {
  margin: -146px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 71px 0 0;
}

.u-section-6 .u-video-1 {
  height: 500px;
  filter: brightness(0.9);
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 71px;
  margin-bottom: 45px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    height: 90px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -280px;
  }

  .u-section-6 .u-video-1 {
    margin-top: 68px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-top: 136px;
  }

  .u-section-6 .u-video-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-top: 1552px;
  }

  .u-section-6 .u-video-1 {
    margin-top: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    margin-top: 1228px;
  }

  .u-section-6 .u-video-1 {
    margin-top: 46px;
  }
} .u-section-7 {
  background-image: linear-gradient(#36076f, #780575);
}

.u-section-7 .u-sheet-1 {
  min-height: 563px;
}

.u-section-7 .u-text-1 {
  margin: 100px 615px 0 145px;
}

.u-section-7 .u-text-2 {
  margin: -94px 160px 0 570px;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  border-style: solid;
  margin: 49px 68px 0 auto;
  padding: 27px 52px 29px 50px;
}

.u-section-7 .u-shape-1 {
  width: 155px;
  height: 66px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -85px 462px 0 auto;
}

.u-section-7 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  text-shadow: -15px 16px 11px rgba(0,0,0,0.6);
  font-size: 3.75rem;
  margin: -66px auto 60px 11px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 515px;
    margin-left: 45px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 60px;
    margin-left: 470px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 340px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 310px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 160px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 130px;
  }

  .u-section-7 .u-shape-1 {
    margin-right: 385px;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-right: 185px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.875rem;
  }
}