/* Estilos para centrar el texto vertical y horizontalmente */
body, html {
    background-image: url(../Recursos/GIF\ transi.gif);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    font-size: 24px;
    text-align: center;
}